/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as TaskmasterTaskmaster from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Taskmaster {
    export interface Options {
        environment?: core.Supplier<environments.TaskmasterTaskmasterEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

export class Taskmaster {
    protected readonly _options: Taskmaster.Options;

    constructor(_options: Taskmaster.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {Taskmaster.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.taskmaster.getHealth()
     */
    public getHealth(
        requestOptions?: Taskmaster.RequestOptions,
    ): core.HttpResponsePromise<TaskmasterTaskmaster.HealthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getHealth(requestOptions));
    }

    private async __getHealth(
        requestOptions?: Taskmaster.RequestOptions,
    ): Promise<core.WithRawResponse<TaskmasterTaskmaster.HealthResponse>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TaskmasterTaskmasterEnvironment.Local,
                "/api/health",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as TaskmasterTaskmaster.HealthResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TaskmasterTaskmasterError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.TaskmasterTaskmasterError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.TaskmasterTaskmasterTimeoutError("Timeout exceeded when calling GET /api/health.");
            case "unknown":
                throw new errors.TaskmasterTaskmasterError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Transcribe uploaded audio file
     *
     * @param {TaskmasterTaskmaster.CreateTranscriptionRequest} request
     * @param {Taskmaster.RequestOptions} requestOptions - Request-specific configuration.
     */
    public createTranscription(
        request: TaskmasterTaskmaster.CreateTranscriptionRequest,
        requestOptions?: Taskmaster.RequestOptions,
    ): core.HttpResponsePromise<TaskmasterTaskmaster.TranscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createTranscription(request, requestOptions));
    }

    private async __createTranscription(
        request: TaskmasterTaskmaster.CreateTranscriptionRequest,
        requestOptions?: Taskmaster.RequestOptions,
    ): Promise<core.WithRawResponse<TaskmasterTaskmaster.TranscriptionResponse>> {
        const _request = await core.newFormData();
        await _request.appendFile("file", request.file);
        const _maybeEncodedRequest = await _request.getRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TaskmasterTaskmasterEnvironment.Local,
                "/api/transcriptions",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as TaskmasterTaskmaster.TranscriptionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TaskmasterTaskmasterError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.TaskmasterTaskmasterError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.TaskmasterTaskmasterTimeoutError(
                    "Timeout exceeded when calling POST /api/transcriptions.",
                );
            case "unknown":
                throw new errors.TaskmasterTaskmasterError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
